id: mhd4esl[release] 1.4.0
name: mhd4esl
architecture: linux-gcc
sources-test-dir: src/main
provide: source static dynamic
system: boost_filesystem
#system: dl
system: microhttpd
system: gnutls
system: pthread
static: esl [1.4.0]

# mhd4esl[debug] 1.4.0
variant: debug
define-private: MHD4ESL_LOGGING_LEVEL_DEBUG

# mhd4esl[release] 1.4.0
variant: release
